[submodule "ELEC5566M-Resources"]
	path = ELEC5566M-Resources
	url = https://github.com/leeds-embedded-systems/ELEC5566M-Resources.git
[submodule "ELEC5566M-Unit1-AVatLeeds"]
	path = ELEC5566M-Unit1-AVatLeeds
	url = git@github.com:leeds-embedded-systems/ELEC5566M-Unit1-AVatLeeds.git
[submodule "ELEC5566M-Unit2-AVatLeeds"]
	path = ELEC5566M-Unit2-AVatLeeds
	url = git@github.com:leeds-embedded-systems/ELEC5566M-Unit2-AVatLeeds.git
[submodule "ELEC5566M-Assignment1-AVatLeeds"]
	path = ELEC5566M-Assignment1-AVatLeeds
	url = git@github.com:leeds-embedded-systems/ELEC5566M-Assignment1-AVatLeeds.git
